html {
    box-sizing: border-box;
}
body {
     background-color: rgb(42, 55, 44);
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
    
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: burlywood;
    font-size: 2.0rem;
    font-weight: 800;
}
.box1 {
    flex: 1 0 20%;
}
.box2 {
    flex: 1 0 70%;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}