html {
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0 20px;
  background-color: #2B3A55;
}
.wrapper {
  width: 500px;
  padding: 20px;
  margin: 32px auto;
  border: 2px solid #444;
  border-radius: 8px;
  background-color: #ce7777;
}
.wrapper h1 {
  text-align: center;
  text-transform: uppercase;
}
.wrapper > img {
  display: block;
  width: 80px;
  margin: 0 auto;
}
.wrapper p, .wrapper h3 {
  padding: 20px 40px 0;
}
.wrapper h3 {
  font-size: 20px;
  text-transform: capitalize;
}
.wrapper ul {
  margin: 0 40px 60px 0;
}
.wrapper ul li {
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #2B3A55;
  list-style: none;
}
.wrapper ul li a {
  color: #F2E5E5;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.wrapper ul li a > img {
  display: block;
  padding: 4px 0;
  width: 40px;
}
.wrapper ul li a > i {
  align-self: flex-end;
  font-size: 32px;
}
.wrapper button {
  padding: 8px 16px;
  margin-left: 40px;
  border-radius: 10px;
  border: none;
  color: #F2E5E5;
  background-color: #2B3A55;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.wrapper button:hover {
  background-color: #F2E5E5;
  color: #2B3A55;
  border: 2px solid #2B3A55;
}

