html {
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0 20px;
  background-color: #2B3A55;
  font-size: 12px;
}
.wrapper {
  width: 600px;
  padding: 20px;
  margin: 32px auto;
  border: 2px solid #444;
  border-radius: 8px;
  background-color: #ce7777;
}
.wrapper header {
  height: 80px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(92, 82, 82, 0.4);
}
.wrapper header .logo {
  flex: 1 0 20%;
  margin: auto auto;
  cursor: pointer;
}
.wrapper header .logo > img {
  max-width: 40px;
}
.wrapper header .logo > img:hover {
  transform: rotate(360deg);
  transition: all 2s;
}
.wrapper header .navigation {
  flex: 1 0 70%;
  margin: auto auto;
}
.wrapper header .navigation ul {
  display: flex;
  justify-content: flex-end;
  color: #121212;
  font-size: 1.25rem;
  list-style: none;
}
.wrapper header .navigation ul li {
  width: 100%;
  padding: 8px 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  background-color: transparent;
  /* border-radius: 2px; */
  cursor: pointer;
}
.wrapper header .navigation ul li:hover {
  background-color: burlywood;
  font-weight: 500;
  letter-spacing: 2.5px;
  border-radius: 8px;
  transition: all ease-out 1s;
}


/* .wrapper h1 {
  text-align: center;
  text-transform: uppercase;
} */
.wrapper > img {
  display: block;
  width: 80px;
  margin: 0 auto;
}
.wrapper p, .wrapper h3 {
  padding: 20px 40px 0;
}
.wrapper p {
  font-size: 1.2em;
}
.wrapper h3 {
  font-size: 1.5em;
  text-transform: capitalize;
}
.wrapper > ul {
  margin: 0 40px 60px 0;
}
.wrapper > ul li {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #2B3A55;
  list-style: none;
}
.wrapper > ul li a {
  color: #F2E5E5;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.wrapper > ul li a > img {
  display: block;
  padding: 4px 0;
  width: 40px;
}
.wrapper > ul li i {
  align-self: flex-end;
  font-size: 32px;
  color: #F2E5E5;
  cursor: pointer;
}
.wrapper > ul li i:hover {
  color: #ce7777;
}
.wrapper button {
  padding: 8px 16px;
  margin-left: 40px;
  border-radius: 10px;
  border: none;
  color: #F2E5E5;
  background-color: #2B3A55;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.wrapper button:hover {
  background-color: #F2E5E5;
  color: #2B3A55;
  border: 2px solid #2B3A55;
}

